.input {
    box-sizing: border-box;
    flex: 1 1 calc(45% - 5%);
    margin-top: 2%;
    
}

.input input {
    width: 100%;
    padding: 3%;
    background: transparent;
    border: 1px solid #e1be2d;
    border-radius: 8px;
    font-family: 'Eastman Grotesque Light', sans-serif;
    margin-top: 1%;
    color: white;
}